* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  background: linear-gradient(
    45deg,
    rgba(29, 185, 84, 0.1),
    rgba(0, 0, 0, 0.3)
  );
}
body {
  height: 100vh;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  margin: 10px;
}
.home-container {
  height: 100vh;
  overflow: hidden;
}
